body {
  display: flex;
  background-color: #e5e4e7;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  background-color: #fbfbfb;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 30px;
  width: 80%;
  min-height: 80%;
  display: flex;
  flex-direction: row;
}

.title {
  color: #414143;
  font-size: 40px;
  /* margin: 20px; */
}

/* .input_files {
  size: "60";
} */

::-webkit-file-upload-button {
  background: #d9eaf7;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-size: 16;
  border-color: #d9eaf7;
  box-shadow: none;
}

/* .submit_button {
  background-color: #076d98;
  color: #fbfbfb;
  padding: 10px;
  border-radius: 5px;
  font-size: 24;
} */

/* .spacer {
  margin-left: 30;
  justify-content: center;
} */

.results {
  text-align: center;
  font-size: 24px;
  color: #414143;
  text-decoration: underline;
}
